@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0;
    min-width: 800px;
    max-width: 1400px;
}

/* заголовок */

.header {
    color: #FFFFFF;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}

.h-text1 {
    margin: 1% 12%;
    font-family: 'Poppins', sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
}

.h-text2 {
    margin: 1% 12%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.h-text2 div {
    margin: 0 12%;
}


/* перша частина */
.page1 {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, black 85%, white 15%);
}

.p1-text {
    max-width: 35%;
}

.p1-text-title {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 6.4rem;
    font-weight: 600;
}

span {
    color: #F6AD09;
}

.p1-text-description {
    padding: 5% 0;
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;

}

.p1-text-button {
    max-width: 50%;
    background-color: #F6AD09;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: #332200;
    padding: 3%;
}

.p1-image {}

/* Друга частина */

.page2 {}

.p2-header {
    max-width: 90%;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 6.4rem;
    font-weight: 600;
}

.p2-content {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
}

/* перша карточка */

.p2c-card1 {
    max-width: 30%;
}

.p2cc1-img img {
    width: 100%;
}

.p2cc1-title {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
}

.p2cc1-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

/* друга карточка */

.p2c-card2 {
    max-width: 30%;
}

.p2cc2-img img {
    width: 100%;
}

.p2cc2-title {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
}

.p2cc2-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}


/* третя карточка */

.p2c-card3 {
    max-width: 30%;
}

.p2cc3-img img {
    width: 100%;
}

.p2cc3-title {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
}

.p2cc3-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

/* третя частина */

.page3 {
    margin-top: 5%;
    background: linear-gradient(to bottom, white 10%, black 10%, black 90%, white 10%);
    display: flex;

}

.p3-content {
    margin: auto 3%;
    max-width: 40%;
    color: #B2B2B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p3c-1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
}

.p3c-2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 6.4rem;
    font-weight: 600;
}

.p3c-3 {
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
}

.p3c-4 {
    margin: 3% 0;
    color: #FFBB00;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: underline;
}


.p3c-56 {
    display: flex;
}

.p3c-5 {
    margin: 3% 0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
}

.p3c-6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

/*Блок з назвами партнерів*/

.box {
    max-width: 95%;
    margin: 5% auto;
}

.box-title {
    margin: 0 1%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 6.4rem;
}

.box-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-image div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: groove;
    margin: 1% 0;
}

/*Четверта частина*/

.page4 {
    display: flex;
}

.p4-image {
    width: 48%;
}

.p4-image img {
    width: 100%;
    height: 100%;
}

.p4-content {
    width: 52%;
    background-color: #FFBB00;
}

.p4c-response {
    margin: 40% 20% 0% 4%;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 3.6rem;
}

.img1 {
    position: relative;
    bottom: 20px;
}

.img2 {
    position: relative;
    top: 20px;
}

.p4c-signature {
    margin: 4% 4%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
}

/*П'ята частина*/

.page5 {
    max-height: 737px;
    background-color: #161616;
}

.p5-title {
    margin: auto 10%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 6.4rem;
}

.p5-content {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
}

/*ліва картка*/
.p5-card-left {
    background-color: #000000;
    width: 30%;
    height: 40%;
}

.p5cl-title {
    display: flex;
    justify-content: space-around;
}

.p5clt-left {
    color: #9C9C9C;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
}

.p5clt-right {}

.p5cltr-top {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
}

.p5cltr-bottom {
    margin-top: -10%;
    text-align: end;
    color: #9C9C9C;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.p5cl-content {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

.p5cl-content div {
    margin: 2% auto;
}

.btn {
    margin: 7%;
}

.p5cl-button {
    padding: 3%;
    color: #CCCCCC;
    background-color: #2E2E2E;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

/*права картка*/

.p5-card-right {
    background-color: #000000;
    width: 30%;
    height: 40%;
}

.p5cr-title {
    display: flex;
    justify-content: space-around;
}

.p5crt-left {
    color: #FFBB00;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
}

.p5crt-right {}

.p5crtr-top {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
}

.p5crtr-bottom {
    margin-top: -10%;
    text-align: end;
    color: #9C9C9C;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.p5cr-content {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

.p5cr-content div {
    margin: 2% auto;
}

.p5cr-button {
    padding: 3%;
    color: #CCCCCC;
    background-color: #2E2E2E;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

/*футер*/

footer {
    height: 470px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
}

.logo {
    display: flex;    
    width: 30%;
    height: 80%;
    flex-direction: column;
    justify-content: space-between;
}

.logo-title {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
}

.logo-footer {
    color: #9C9C9C;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.contacts {
    display: flex;
    width: 20%;
    height: 78%;
    flex-direction: column;
    justify-content: space-around;
}

.contacts-title {
    
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
}
.contacts-tel_mail a{
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: none;
}
.contacts-adres{
   
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}
.contacts-social{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.info{
    display: flex;
    width: 20%;
    height: 68%;
    flex-direction: column;
    justify-content: flex-start;
}
.info-title{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;    
    margin-bottom: 20%;
}
.info-content{
    color: #B2B2B2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}